<h1>Programming Languages</h1>
<div>
  <% @programming_languages.each do |language| %>
    <h1><%= language.title %></h1>
    <ul>
    <li>
      <%= link_to "More information about #{language.title}", programming_language_path(language) %>
    </li>
    <li>
      <%= link_to 'Edit', edit_programming_language_path(language)  %>
    </li>
    </ul>
    <%= form_with(model: language, url: programming_language_path(language), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
      <%= form.submit 'Delete', class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>
<div>
<%= link_to 'Add new language', new_programming_language_path %>
</div>
